{% load static %}

<div>
  <h3 style="text-align: center;">Популярные теги</h3>
  <br>
  <div style="display: flex; flex-wrap: wrap; border-top: 2px solid grey; border-left: 2px solid grey;">
    <a class="m-4 btn btn-outline-danger">Ретро гейминг</a>
    <a class="m-4 btn btn-outline-primary">Ардуино</a>
    <a class="m-4 btn btn-outline-dark">Программирование</a>
    <a class="m-4 btn btn-outline-primary">Flask</a>
    <a class="m-4 btn btn-outline-danger">Django</a>
    <a class="m-4 btn btn-outline-warning">Android</a>
    <a class="m-4 btn btn-outline-primary">Взлом</a>
    <a class="m-4 btn btn-outline-warning">Python</a>
    <a class="m-4 btn btn-outline-primary">Сборка ПК</a>
    <a class="m-4 btn btn-outline-info">Игры</a>
    <a class="m-4 btn btn-outline-primary">Книги</a>
    <a class="m-4 btn btn-outline-danger">Авторы</a>
    <a class="m-4 btn btn-outline-primary">Linux</a>
  </div>
  <br><br>
  <h3 style="text-align: center;">Лучшие пользователи</h3>
  <br>
  <div style="display: flex; flex-wrap: wrap; border-top: 2px solid grey; border-left: 2px solid grey;">
    <a class="m-4 btn btn-outline-info">Бархатные тэги</a>
    <a class="m-4 btn btn-outline-info">Петька</a>
    <a class="m-4 btn btn-outline-info">Василий Иванович</a>
    <a class="m-4 btn btn-outline-info">Нюанс</a>
    <a class="m-4 btn btn-outline-info">Мужик</a>
    <a class="m-4 btn btn-outline-info">Шляпа</a>
    <a class="m-4 btn btn-outline-info">46 тонн</a>
    <a class="m-4 btn btn-outline-info">Боцман</a>
    <a class="m-4 btn btn-outline-info">Обычай</a>
    <a class="m-4 btn btn-outline-info">Юнга</a>
    <a class="m-4 btn btn-outline-info">Дилижанс</a>


  </div>
</div>
